*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
Deployment.yaml
cronjob.yaml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

S3Tests/bin/Debug/netcoreapp1.1/S3Tests.pdb
S3ClassLib/bin/Debug/netcoreapp1.1/S3ClassLib.dll
S3ClassLib/bin/Debug/netcoreapp1.1/S3ClassLib.pdb
S3ClassLib/obj/Debug/netcoreapp1.1/S3ClassLib.dll
S3ClassLib/obj/Debug/netcoreapp1.1/S3ClassLib.pdb
S3Tests/bin/Debug/netcoreapp1.1/S3ClassLib.dll
S3Tests/bin/Debug/netcoreapp1.1/S3ClassLib.pdb
S3Tests/bin/Debug/netcoreapp1.1/S3Tests.dll
S3Tests/obj/Debug/netcoreapp1.1/S3Tests.dll
S3Tests/obj/Debug/netcoreapp1.1/S3Tests.pdb
